<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Password</title>
    <link rel="stylesheet" href="../css/addUppPswdPage.css">
</head>

<body>
    <div class="container">
        <h1>Add New Password</h1>
        <form action="/addnewpassword/<%= user.name %>" method="post">
            <label for="title">Title:</label>
            <input type="text" name="title" id="title" placeholder="Enter title">

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter password">

            <input type="submit" value="Add">
        </form>
    </div>
</body>


</html>