<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Password</title>
    <link rel="stylesheet" href="../css/logInPage.css">
</head>

<body>
    <div class="container">
        <h1>Log in</h1>
        <form action="/userlogin" method="post">
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" placeholder="Enter name">

            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Enter password">

            <input type="submit" value="Log in">
        </form>
    </div>
    <script src="../js/userNotFound.js"></script>
</body>


</html>