<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainPage</title>
    <link rel="stylesheet" href="../css/mainPage.css">
</head>

<body>
    <div class="container">
        <h1>Welcome to SecureVault – Your Trusted Password Manager</h1>

        <h2>Simplify your digital life with SecureVault.</h2>

        <ul>
            <li>Secure Your Data: Store all your passwords in one safe place with top-notch encryption. </li>
            <li>Access Anywhere: Sync across devices and stay connected wherever you go.</li>
            <li>Generate Strong Passwords: Create and save unique, unbreakable passwords instantly.</li>
            <li>Stay Organized: Manage login credentials effortlessly with an intuitive interface.</li>
        </ul>

        <span>Your security is our priority. Start protecting your accounts today!</span>

        <div class="actions">
            <a href="/login">Log in</a>
            <a href="/create">Create account</a>
        </div>
    </div>
</body>

</html>